<!DOCTYPE HTML>
<html><head><title>ESP32 Dev. Board</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head><body><center>
<h1>SAEP 2023</h1><hr><br>
Entradas:<br>
<h2>0 b _ _ _ _ _ _ _ _</h2><br>
Saídas
<h2>
<form action="/saidas">
<input type="checkbox" name="K1" value="1" checke >
<label for="K1">K1</label>
<input type="checkbox" name="K2" value="1" checke >
<label for="K2">K2</label>
</h2>
<br>
<input type="submit" value="Atualizar">
</form>
</center>
</body>
</html>